body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding: 16px 15%;
    height: 30px;
}

.logo{
    font-weight: 950;
    font-size: 115%;
}


ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

li{
    text-decoration: none;
    padding: 20px;
}

.header2{
    display: flex;
    flex-wrap: wrap;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15%;
    padding-bottom: 30px;
}

.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
}

.title1{
    font-size: 200%;
    font-weight: 900;
    margin: 0;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding: 0;
}


.title2{
    color: #1f2937;
    font-size: 150%;
    font-weight: 900;
    text-align: center;
}
.content1{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 0px 15%;
    align-items: top;
    justify-content: center;
    gap: 50px;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}
img{ 
    max-width: 200px;
}


.content2{
    background-color: rgb(197, 197, 197);
    color: #1f2937;
    padding: 4% 15%;
    margin: 0;
    text-align: center;
    font-style: italic;
}

.content2 p{
    text-align: right;
    font-style: normal;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 0;
}

.content3{
    display: flex;
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 5% 15%;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    background-color: rgb(122, 185, 221);
    padding: 5% 15%;
    height: fit-content;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.button{
    color: white;
    background-color: rgb(122, 185, 221);
    border-color: white;
    height: 50px;
    width: 25%;
}

.footer{
    background-color: #1f2937;
    color: white;
    padding: 0px 15%;

}
